
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model BanNoiThatPagado.Models.ViewModels.SanPhamAddViewModel;

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Quản lý sản phẩm
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thêm mới</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" asp-controller="Admin" asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="txtTen">Tên sản phẩm</label>
                                <input asp-for="Ten" type="text" class="form-control" id="txtTen" placeholder="Tên" onblur="ktra()">
                                <br /> <span id="ktraTen" style="color: red"></span>
                            </div>
                            <div class="form-group">
                                <label for="txtTen">Ảnh</label>
                                <input asp-for="FileImage" type="file" class="form-control" id="txtAnh" placeholder="Hình ảnh" >
                               
                            </div>
                            <div class="form-group">
                                <label for="txtTen">Giá tiền</label>
                                <input asp-for="Gia" type="text" class="form-control" id="txtGia" placeholder="Giá tiền" onblur="ktra()">
                                <br /> <span id="ktraGia" style="color: red"></span>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </form>
                </div>

                <script>

                    function ktra() {
                        var ten = document.getElementById("txtTen").value;
                        var anh = document.getElementById("txtAnh").value;
                        var gia = document.getElementById("txtGia").value;

                        if (ten == "" || !isNaN(ten) || ten.indexOf("!") != -1 || ten.indexOf("%") != -1 || ten.indexOf("$") != -1 || ten.indexOf("*") != -1 || ten.indexOf("&") != -1 || ten.indexOf("#") != -1) {
                            document.getElementById("ktraTen").innerHTML = "Trường tên không được rỗng, không nhập số và không nhập ký tự đặc biệt ";
                        }
                        else {
                            document.getElementById("ktraTen").innerHTML = "";
                        }

                       
                        if (gia == "" || isNaN(gia) ) {
                            document.getElementById("ktraGia").innerHTML = "Trường giá không được rỗng, phải là ký tự số ";
                        }
                        else {
                            document.getElementById("ktraGia").innerHTML = "";
                        }
                    }
                </script>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
