
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<SanPham>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            sản phẩm
        </h1>
    </section>

    <div class="box-footer">
        <a class="btn btn-primary" href="/Admin/Add/">Thêm mới</a>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                            @foreach (var sp in Model)
                            {
                                <tr>
                                    <td>@sp.Id</td>
                                    <td>@sp.Ten</td>
                                    <td><img src="~/upload/@sp.Anh" width="70" height="90"/></td>
                                    <td>@sp.Gia</td>
                                    <td><a href="/Admin/Edit/@sp.Id">Sửa</a></td>
                                    <td><a href="/Admin/Delete/@sp.Id">Xóa</a></td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>


