{% extends "admin/admin_layout.html" %}

{% block admin-content %}

{% block javascript %}
<script type="text/javascript">
    function AddSaleOrder() {
        var name = $("#txtName").val();
        var nameuser = $("#txtKhachHang").val();
        var addressuser = $("#txtDiaChi").val();
        var numberphone = $("#txtSdt").val();
        var sale_order_detail = [];

        $("#tbSaleOrderDetail tr.product-item").each(function () {
            var product_id = $(this).find(".product_id").html();
            var product_qty = $(this).find(".product_qty").html();
            var product_price = $(this).find(".product_price").html();
            sale_order_detail.push({
                'product_id': product_id,
                'product_qty': product_qty,
                'product_price': product_price
            })
            console.log(sale_order_detail);
        });
        $.ajax({
          method: "POST",
          url: "/admin/saleorder/add",
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'name': name,
            'name_user':nameuser,
            'address_user':addressuser,
            'number_phone':numberphone,
            'sale_order_detail':  JSON.stringify(sale_order_detail)
          }
        }).done(function( msg ) {
            console.log(msg);
            if(msg){
                window.location.href= '/admin/saleorder';
            }
        });
    }

    function AddSaleOrderDetail() {
        var product_id = $("#cbSanPham").val();
        var product_name = $("#cbSanPham option:selected").text();
        var qty = $("#txtQty").val();
        var price = $("#txtPrice").val();
        var html = "<tr class='product-item'>" +
                        "<td class='product_id'>"+ product_id +"</td>"+
                        "<td class='product_name'>"+ product_name +"</td>"+
                        "<td class='product_qty'>"+ qty +"</td>"+
                        "<td class='product_price'>"+ price +"</td>"+
                        "<td>"+
                            "<a href='javascript:void(0)'>Xóa</a>"+
                        "</td>"+
                    "</tr>";
        $("#tbSaleOrderDetail").append(html);
    }
</script>
{% endblock %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Đơn hàng</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thêm mới</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="txtName">Tên</label>
                                <input type="text" name="name" class="form-control" id="txtName" placeholder="Tên">
                            </div>
                            <div class="form-group">
                                <label for="txtDate">Ngày</label>
                                <input type="text" class="form-control" id="txtDate" placeholder="Ngày">
                            </div>
                            <div class="form-group">
                                <label for="txtKhachHang">Tên khách hàng</label>
                                <input type="text" name="nameuser" class="form-control" id="txtKhachHang" placeholder="Tên khách hàng">
                            </div>
                            <div class="form-group">
                                <label for="txtDiaChi">Địa chỉ</label>
                                <input type="text" name="addressuser" class="form-control" id="txtDiaChi" placeholder="Địa chỉ">
                            </div>
                            <div class="form-group">
                                <label for="txtSdt">Số địa chỉ</label>
                                <input type="text" name="numerphone" class="form-control" id="txtSdt" placeholder="Số điện thoại">
                            </div>


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="AddSaleOrder()" class="btn btn-primary">Lưu</button>
                        </div>
                </div>
                <!-- /.box -->

            </div>
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chi tiết đơn hàng</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="tbSaleOrderDetail" class="table table-hover">
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th></th>
                            </tr>
                        </table>
                    </div>

                    <div class="box-footer">
                        <button type="button" data-toggle="modal" data-target="#modelAddSaleOrderDetail" class="btn btn-primary">Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div id="modelAddSaleOrderDetail" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thêm sản phẩm</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <label>Sản phẩm</label>
                <select id="cbSanPham" class="form-control">
                    {% for sp in ds_san_pham %}
                        <option value="{{ sp.id }}">{{ sp.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="txtQty">Số lượng</label>
                <input type="number" id="txtQty" min="1" value="1" class="form-control" placeholder="Số lượng">
            </div>
            <div class="form-group">
                <label for="txtPrice">Giá</label>
                <input type="text" id="txtPrice" class="form-control"  placeholder="Giá">
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" onclick="AddSaleOrderDetail()" data-dismiss="modal" class="btn btn-primary">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}