{% extends "admin/admin_layout.html" %}

{% block admin-content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Đơn hàng
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Ngày</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {% for don_hang in ds_don_hang %}
                                <tr>
                                    <td>{{ don_hang.id }}</td>
                                    <td>{{ don_hang.name }}</td>
                                    <td>{{ don_hang.date }}</td>
                                    <td>
                                        <a href="/admin/saleorder/edit/{{ don_hang.id }}">Sửa</a>
                                    </td>
                                    <td>
                                        <a href="/admin/saleorder/delete/{{ don_hang.id }}">Xóa</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a class="btn btn-primary" href="/admin/saleorder/add">Thêm mới</a>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
