{% extends "layout.html" %}
{% load static %}
{% block main_content %}
<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a href="index.html">Home</a></li>
                            <li>Cart</li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!--=======  cart table  =======-->

                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pro-thumbnail"><a href="single-product.html"><img
                                        src="static/photo/product01.jpg" class="img-fluid" alt="Product"></a>
                                </td>
                                <td class="pro-title"><a href="single-product.html">Cillum dolore tortor nisl
                                    fermentum</a></td>
                                <td class="pro-price"><span>$29.00</span></td>
                                <td class="pro-quantity">
                                    <div class="pro-qty"><input type="text" value="1"></div>
                                </td>
                                <td class="pro-subtotal"><span>$29.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-thumbnail"><a href="single-product.html"><img
                                        src="static/photo/product02.jpg" class="img-fluid" alt="Product"></a>
                                </td>
                                <td class="pro-title"><a href="single-product.html">Auctor gravida pellentesque</a></td>
                                <td class="pro-price"><span>$30.00</span></td>
                                <td class="pro-quantity">
                                    <div class="pro-qty"><input type="text" value="2"></div>
                                </td>
                                <td class="pro-subtotal"><span>$60.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-thumbnail"><a href="single-product.html"><img
                                        src="static/photo/product03.jpg" class="img-fluid" alt="Product"></a>
                                </td>
                                <td class="pro-title"><a href="single-product.html">Condimentum posuere consectetur</a>
                                </td>
                                <td class="pro-price"><span>$25.00</span></td>
                                <td class="pro-quantity">
                                    <div class="pro-qty"><input type="text" value="1"></div>
                                </td>
                                <td class="pro-subtotal"><span>$25.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-thumbnail"><a href="single-product.html"><img
                                        src="static/photo/product04.jpg" class="img-fluid" alt="Product"></a>
                                </td>
                                <td class="pro-title"><a href="single-product.html">Habitasse dictumst elementum</a>
                                </td>
                                <td class="pro-price"><span>$11.00</span></td>
                                <td class="pro-quantity">
                                    <div class="pro-qty"><input type="text" value="1"></div>
                                </td>
                                <td class="pro-subtotal"><span>$11.00</span></td>
                                <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--=======  End of cart table  =======-->


                </form>

                <div class="row">

                    <div class="col-lg-6 col-12">
                        <!--=======  Calculate Shipping  =======-->

                        <div class="calculate-shipping">
                            <h4>Calculate Shipping</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <form action="/action_page.php">
                                            <input type="text" placeholder="Tên Đầy Đủ" pattern=".{6,}" minlength="1"
                                                   title="Vui lòng chỉ nhập kí tự">

                                        </form>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Địa Chỉ" pattern=".{6,}" minlength="1"
                                               title="Vui lòng chỉ nhập kí tự">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                            <input type="number" placeholder="Số Điện Thoại" minlength="1"
                                                  pattern="{10}"  title="Vui lòng chỉ nhập số">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Xác Nhận">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--=======  End of Calculate Shipping  =======-->

                        <!--=======  Discount Coupon  =======-->

                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--=======  End of Discount Coupon  =======-->

                    </div>


                    <div class="col-lg-6 col-12 d-flex">
                        <!--=======  Cart summery  =======-->

                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span>$1250.00</span></p>
                                <p>Shipping Cost <span>$00.00</span></p>
                                <h2>Grand Total <span>$1250.00</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="checkout-btn" onclick="myFunction()">Checkout</button>
                                <button class="update-btn">Update Cart</button>
                            </div>
                        </div>

                        <!--=======  End of Cart summery  =======-->

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}